.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-input {
  width: 30rem;
  border-radius: 50px;
  border: 1px solid rgb(206, 222, 230);
  font-size: 14px;
  padding: 0.7rem;
}

.search-input:focus {
  outline: none;
}

.search-icon {
  color: lightgray;
  margin-top: 0.8rem;
  margin-left: 1rem;
}

@media screen and (max-width: 500px) {
  .search-input {
    width: 17rem;
  }
}
