.cell__item {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  padding: 0.7rem;
  border-radius: 5px;
  width: 14rem;
  box-shadow: 0 0.6rem 3rem rgba(64, 73, 73, 0.5);
}

.cell__item i {
  margin-left: 0.4rem;
  display: inline-block;
}

.cell__form {
  position: relative;
  margin-left: -2rem;
}

.cell__form input {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: -57%;
  left: 32%;
  cursor: pointer;
  opacity: 0;
}

@media screen and (max-width: 500px) {
  .cell__item {
    width: 9rem;
    box-shadow: none;
  }
}
