.home-container {
  padding: 5rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 93vh;
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  background-image: linear-gradient(
      to right,
      rgba(65, 62, 59, 0.63),
      rgba(18, 11, 29, 0.9)
    ),
    url('https://images.pexels.com/photos/4458/cup-mug-desk-office.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940https://images.pexels.com/photos/731510/pexels-photo-731510.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500-');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.8;
}

.home-wrapper {
  padding: 4rem;
  width: 80vw;
  height: 45vh;
  height: 45vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.app-title {
  color: white;
  font-size: 45px;
  letter-spacing: 1.1rem;
}

.app-subtitle {
  font-size: 23px;
  font-weight: 400;
  color: white;
}
.read-blog__link {
  background-color: white;
  padding: 1.1rem;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff5858;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 1rem;
}

.read-blog__link:hover {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  color: white;
  border: 2px solid white;
}

@media screen and (max-width: 768px) {
  .home-container {
    padding: 3rem 2rem;
  }
  .app-title {
    font-size: 31px;
  }
}

@media screen and (max-width: 500px) {
  .home-wrapper {
    padding: 2rem;
    width: 90vw;
  }
  .app-title {
    font-size: 25px;
    letter-spacing: 0.5rem;
  }

  .app-subtitle {
    font-size: 14px;
  }
}
