.edit-post__container {
  padding: 2rem 10rem;
  background-color: rgb(243, 237, 237);
  width: 100vw;
  display: flex;
  justify-content: center;
}

.edit-form {
  padding: 2rem 2rem;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.9;
  border: 3px solid lightgray;
  border-radius: 5px;
  font-weight: 700;
  background-color: white;
}
.input-topics {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
}

.title-category {
  margin-left: 1rem;
}

.category {
  margin-left: 0;
}

label {
  align-self: flex-start;
  margin-left: 2.3rem;
}
input,
select,
textarea {
  width: 30rem;
  padding: 0.6rem;
  font-size: 16px;
  font-family: "Montserrat";
  border-radius: 3px;
  border: 1px solid lightgray;
  margin-top: 0.4rem;
}
textarea {
  height: 15rem;
}
.file-btn {
  padding: 1.4rem;
}

@media screen and (max-width: 500px) {
  .edit-post__container {
    padding: 3rem 2rem;
    min-height: 100vh;
  }

  .edit-form {
    width: 23rem;
    height: 43rem;
  }

  input {
    width: 20rem;
    padding: 0.7rem;
  }
  select {
    width: 20rem;
    padding: 0.8rem;
  }

  textarea {
    width: 20rem;
  }

  .btn-save,
  .btn-cancel {
    padding: 0.6rem;
    margin: 0.6rem;
    width: 4rem;
    font-size: 14px;
  }
}
