.pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4rem;
}
.pagination h4 {
  text-align: center;
  margin-right: 2rem;
  margin-left: 2.5rem;
}
.pagination__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination__item {
  list-style: none;
  margin: 0.05rem;
}
.pagination__btn {
  background-color: var(--primary);
  color: white;
  padding: 0.3rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  box-shadow: 0 1rem 1rem rgba(rgb(136, 136, 153), 0.3);
}
