.deletepost-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deletepost-container {
    padding: 2rem 2rem;
    background-color: white;
}

.cancel-wrapper {
    display: flex;
    justify-content: flex-end;

}

.warning {
    color: var(--violet);
}

.delete-cancel {
    background-color: lightskyblue;

}

.delete-link {
    text-decoration: none;
    color: lightgrey;
}

.delete-link:hover {
    color: var(--violet);
}

.delete-link {
    text-decoration: none;
}
.delete-cancel:hover {
    background-color: rgb(55, 139, 190);
    transform: translateY(-.1rem);

}